.mail-sidebar-container {
    background-color: #333333;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.mail-sidebar-container input[name="text"] {
    border: none;
    background-color: #444444;
    padding-left: 40px;
    font-size: 1.1em;
    height: 35px;
    width: calc(100% - 40px);
    border-radius: 5px;
    color: #f9f9f9;
}

.mail-sidebar-tabs{
    width: 90%;
}
.mail-sidebar-tabs li{
    display: flex;
    justify-content: space-between;
}


.compose-btn {
    background-color: #444444;
    color: #f9f9f9;
    border: none;
    font-size: 1.8em;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.2s ease;
    margin-bottom: 25px;
}

.mails-filter {
    position: relative;
    margin-bottom: 25px;
    width: 90%;
}

.mails-filter i {
    position: absolute;
    font-size: 1.4em;
    line-height: 35px;
    left: 5px;
}

.mails-filter input:focus{
    outline: none;
}
.mails-filter input::placeholder{
color: #cccccc;
}

.mail-sidebar-container i {
    color: #4de77b;
}

.compose-btn:hover {
    color: #4de77b;
    background-color: #555555;
}

.mail-sidebar-container li {
    font-size: 1.4em;
    color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.mail-sidebar-container li i {
    margin: 0 15px;
}

.mail-sidebar-container li:hover {
    background-color: #555555;
}

.show-sidebar-btn {
    display: none;
}

.show-sidebar-btn:focus {
    outline: none;
}

@media(max-width:1024px) {
    .mail-sidebar-container {
        font-size: 0.9rem;
    }
.mail-sidebar-container input[name="text"] {

}
}

@media(max-width:768px) {
    .mail-sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
    }
    .open-sidebar {
        transform: translateX(0);
    }
    .show-sidebar-btn {
        display: inline-block;
        position: absolute;
        bottom: 10%;
        right: -25%;
        border: none;
        background-color: #4de77b;
        color: #f9f9f9;
        font-size: 2.5em;
        width: 40px;
        height: 40px;
    }
}