.mail-sidebar-container {
    background-color: #333333;
    padding-top: 20px;
    padding: 0.5em;
    transition: transform 0.2s ease;
}

.compose-btn {
    background-color: #444444;
    color: #f9f9f9;
    border: none;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 50px;
    transition: all 0.2s ease;
    margin-bottom: 25px;
}

.mail-sidebar-container i {
    color: #4de77b;
}

.compose-btn:hover {
    color: #4de77b;
    background-color: #555555;
}

.mail-sidebar-container li {
    font-size: 1.4em;
    color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 10px 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.mail-sidebar-container li i {
    margin: 0 15px;
}

.mail-sidebar-container li:hover {
    background-color: #555555;
}

.show-sidebar-btn {
    display: none;
}

.show-sidebar-btn:focus{
    outline: none;
}

@media(max-width:1024px) {
    .mail-sidebar-container {
        font-size: 0.9rem;
    }
}

@media(max-width:768px) {
    .mail-sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
    }
    .open-sidebar {
        transform: translateX(0);
    }
    .show-sidebar-btn {
        display: inline-block;
        position: absolute;
        bottom: 10%;
        right: -25%;
        border: none;
        background-color: #4de77b;
        color: #f9f9f9;
        font-size: 2.5em;
        width: 40px;
        height: 40px;
    }
}