.color-picker span {
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.color-picker :hover {
    cursor: pointer;
}

.color-picker {
    position: absolute;
    bottom: -12%;
    left: 0;
    right: 0;
}